<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CrimeAlert Machine Learning API</title>
  
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

</head>

<body>
  <h1>Welcome to the CrimeAlert Machine Learning API</h1>
  <h2>Get Crime Predictions for the City of London:</h2>
  <br>
  <h3>HTTP Method: /predict (GET Request)</h3>
  <h3>Content Type: application/json </h3>
  <h3>Returns: JSON Object with crime prediction, probability of the prediction of equivalent class, all crime classes </h3>


  <table>
    <tr>
      <th>Field</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>month</td>
      <td>Integer</td>
      <td>(REQUIRED) The month to predict crime (i.e January = 1 - December = 12)</td>
    </tr>
    <tr>
      <td>lon</td>
      <td>Float</td>
      <td>(REQUIRED) The Longitude of the Location to predict in the City of London (i.e -0.079786)</td>
    </tr>
    <tr>
      <td>lat</td>
      <td>Float</td>
      <td>(REQUIRED) The Latitude of the Location to predict in the City of London (i.e 51.517576)</td>
    </tr>
   
  </table>

  <h3>Example Request:</h3>
  <h3>/predict?month=2&lon=-0.079786&lat=51.517576</h3>
  <h3>Returns:</h3>
  <h5>{
    "prediction": "Possession of weapons",
    <br>
    "probability": [<br>
        [<br>
            0.07,<br>
            0.0,<br>
            0.0,<br>
            0.17844047619047618,<br>
            0.0,<br>
            0.01,<br>
            0.741559523809524,<br>
            0.0,<br>
            0.0,<br>
            0.0,<br>
            0.0,<br>
            0.0<br>
        ]<br>
    ],<br>
    "classes": [<br>
        "Anti-social behaviour",<br>
        "Bicycle theft",<br>
        "Burglary",<br>
        "Criminal damage and arson",<br>
        "Drugs",<br>
        "Other theft",<br>
        "Possession of weapons",<br>
        "Public order",<br>
        "Shoplifting",<br>
        "Theft from the person",<br>
        "Vehicle crime",<br>
        "Violence and sexual offences"<br>
    ]<br>
}</h5>

</body>
</html>